body{
    background-image: url(https://cdn.discordapp.com/attachments/911635370846846986/920011660826124348/2021-12-13_20.53.28.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(97, 202, 21);
}
.text{
    color: rgb(39, 78, 216);
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    left: 20%;
}
.content{
    position: fixed;
}
.block{
    position: absolute;
    background: rgba(9, 196, 146, 0.265);
    height: 100%;
    width: 350px;
    top: 0%;
    left: 0%;;
}
.zagolovok{
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    left: 40%;
    top: 10%;
    color: rgb(209, 196, 8);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(44, 43, 43);
}
.block2{
    position: absolute;
    background:rgba(102, 177, 48, 0.678);
    left: 360px;
    right: 200px;
    bottom: 120px;
    top: 240px;
}
.photo{
    position: absolute;
    left: 5%;
    top: 10%;
}
.photo2{
    position: absolute;
    left: 37%;
    top: 60%;
}
.photo3{
    position: absolute;
    left: 70%;
    top: 10%;
}
.mashinatext{
    position: absolute;
    left: 6%;
    top: 70%;
    color: #051469;
    font-size: 20px;
}
.perelomtext{
    position: absolute;
    left: 38%;
    top: 40%;
    color: rgb(5, 20, 105);
    font-size: 20px;
}
.domgorittext{
    position: absolute;
    left: 71%;
    top: 70%;
    color: rgb(5, 20, 105);
    font-size: 20px;
}
.text2{
    position: absolute;
    color: rgb(5, 20, 105);
    font: 100;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-variant-position: normal;
    left: 10%;
    top: 20%;
    right: 30%;
    bottom: 50%;
}
.background2{
    position: absolute;
    background:rgba(8, 243, 243, 0.10);
    left: 10%;
    top: 20%;
    right: 30%;
    bottom: 50%;
}
.aboutus_in_index{ 
    position: absolute;
    font-size: 50px;
    color: coral;
    -webkit-text-stroke-color: rgba(71, 57, 52, 0.356);
    -webkit-text-stroke-width: 1px;
}
.licensionka{
    position: absolute;
    font-size: 50px;
    color: coral;
    -webkit-text-stroke-color: rgba(71, 57, 52, 0.356);
    -webkit-text-stroke-width: 1px;
    top: 20%;
}